<app-navbar></app-navbar>
<div class="container">
    <app-header></app-header>
    <app-submenu></app-submenu>
    <div class="row">
        <div class="col-md-3 mt-4">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-4">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-4">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-4">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-4">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-4">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-4">
            <img src="../../../assets/img/imagen.jpg" >
        </div>

    </div>
</div>
